#søkJobb{
  position: relative;
  background-color:  rgb(249, 249, 235,0.9);
  margin:10%;
  margin-top: 5%;
  color: #7a4d1f;
  margin-bottom:0;
  font-family: "Didot", serif;
  font-size: 20px;

}

#submit{
  background-color: #4d4d4d;
  color: white;
  width:60px;
  height: 35px;
  margin-top: 20px;
  border-color: #4d4d4d;
}

.info{
  width:90%;
  padding-top: 2%;
  padding-left: 5%;
}

#skjema{
  margin-left:5%;
  padding-bottom: 3%;
}

#bilde_søk_jobb{
position: absolute;
right:19%;
top:33%;
width:250px;
padding: 2%;
}

.innhold{
padding-left: 3%;
padding-top: 2%;
}

@media screen and (max-width:750px) {
  #bilde_søk_jobb{
    display: none;
  }
  #søkJobb{
    height:800px;
  }
}
