body {
  background-image: url("../bilder/bakgrunnsbilde.jpeg");

}
html {
  font-family: helvetica;
}

section {
  position:relative;
  margin: auto;
  margin-top: 2em;
  width: 75em;
}

header {
  position:relative;
  margin: auto;
  margin-top: 2em;
  width: 75em;
  color:white;
  font-family: helvetica;
  font-size:0.8em;
}

img {
  margin-left:150px;
  margin-top:15px;
  width:70%;
}




section {
  margin-bottom: 2em;
  color:white;
  background:rgba(0,0,0,0.8);
  padding:20px;
  font-family: helvetica;
  font-size: 0.8em;
}

h2 {
  margin-left: 1em;

}

p, ol {
  margin-left: 3em;
  margin-right: 3em;
}
#date {
  position:absolute;
  bottom: 0;
  right: 0;
}


ul {
    list-style-type: none;
    margin-left:55px;
}
