body {
  background-image: url("bakgrunn21.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.meny {
background-color: rgb(0,0,0,0.8);
padding:2% ;



}

background: rgba(0, 0, 0,0.85);
}

 .meny ul {
    list-style-type: none;
    position:relative;
    align-self: center;
}
    .meny ul:last-child{
    padding-left:8%;
}

#logo{
  width:10%;

}

.meny ul li {
    display: inline;
    left:10opx;


}

.meny ul a {
    padding: 60px;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    font-style: oblique;

}

.meny ul a:hover {
  color: #E4A957;

}

footer {
background-color: black;
padding:0;

}
footer ul{
  list-style-type:none;
  display: table;
  padding:20px;
  bottom: 0;
  color: white;
  height:30px;
  padding-left: 40%;
  padding-right: 40%;

}
footer ul li{
  display: table;
  margin:auto;
  text-align: center;
}
/* style for kontakt.html*/

#kontakt{
  background-color: white;
  margin:auto;
  width:80%;
  height:100%;
}
.mapouter {
  display: inline-block;
  text-align:right;
  height:500px;
  width:500px;
}

.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:500px;
  width:500px;
}

#kontakth1{
  padding:10px;
}

.innholdVenstre{
  display: inline-block;
  width:200px;
  margin-left:30px;
  margin-bottom: 100px;
}
.innholdHøyre{
  display: inline-block;
  width:500px;
  margin-left:200px;


}
#kart{
  margin-left:300px;
  padding:35px;
}
.opplysninger{
  margin-left: 205px;
  margin-top:-200px;
}
#knapp{
  background-color: black;
  color: white;
  width:60px;
  height: 35px;
  margin-top: 20px;
  border-color: black;
}

#søkJobb {
  background-color: white;
  margin:auto;
  margin-top: 100px;
  width:1000px;
  height:700px;
}

.info{
  width:100%;
  padding: 1%;

}

.skjema{
  display: inline-block;
  width:200px;
  margin-left:30px;
}

.bilde_sok_jobb{
  display: inline-block;
  width:500px;
  margin-left:170px;
}
#omoss{
  background-color: white;
  margin:auto;
  width:1000px;
  height:800px;
}
.innhold{
  padding-left: 3%;
  padding-top: 2%;
}
