body {
  background-image: url("img/bakgrunn.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.meny {
padding-bottom: 1%;
background-color: rgb(0,0,0,0.8);
padding: 2%;


}

 .meny ul {
    list-style-type: none;
    position:relative;
    align-self: center;
    padding-left: 0px;


}

#logo{
  width:130px;
  padding-top: 2%;

}
#logo2{
  width:130px;
  padding: 2%;
}
.meny li{
    display: inline;
    margin-top: 0.5%;
    font-size: 20px;


 }
.meny ul a {
    padding: 3%;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    font-style: oblique;

}

.meny ul a:hover {
  color: #E4A957;

}

.meny ul a:active {
  text-decoration: underline;
}

footer {
background-color: rgb(0,0,0,0.8);
padding:0;

}
footer ul{
  list-style-type:none;
  display: table;
  padding:20px;
  bottom: 0;
  color: white;
  height:30px;
  padding-left: 40%;
  padding-right: 40%;

}
footer ul li{
  display: table;
  margin:auto;
  text-align: center;

}
.dropbtn {
  position: absolute;
  bottom:10px;
    background-color: #4d4d4d;
    color: white;
    font-size: 200%;
    border: none;
    display: none;
    width:70px;
    height:70px;
}


.dropdown {
    position: relative;
    bottom:15px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top:0px;
    background-color: #d9d9d9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* linkene inni dropdownmenyen */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Endrer fargen på linkene når musa er over */
.dropdown-content a:hover {background-color: #bfbfbf;}

/*viser dropdownmenyen når musa er over */
.dropdown:hover .dropdown-content {display: block;}

/* ENdrer fargen på knappen når musa er over */
.dropdown:hover .dropbtn {background-color: #404040;}


#logo2{
  display: none;
}

@media (max-width: 960px) {
  .meny ul     { display: none; }
  .dropbtn { display: inline-block; }
  #logo2  { display: inline-block; }

}




/*style for om oss*/
#omOss{
    background-color:  rgb(249, 249, 235,0.9);
    margin:10%;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #7a4d1f;

  }
  #tekst{
    width: 80%;
    text-align: center;
    margin:auto;
  }
  #overskrift{
    text-align: center;
    padding-top: 3%;
  }
  #pza2{
    padding-bottom: 5%;
    padding-top: 5%;
    margin-left: 4%;

  }
  #pza{
    padding-bottom: 5%;
    padding-left: 2%;
    padding-top: 5%;

}
#slideshow{
  margin-right: 20%;
  margin-left: 20%;

}


  /* style for kontakt.html*/

  #kontakt{
    position: relative;
    background-color:  rgb(249, 249, 235,0.9);
    margin:10%;
    margin-top: 5%;
    margin-bottom: 5%;;
    color: #7a4d1f;
  }
  .mapouter {
    display: inline-block;
    text-align:right;
    height:10%;
    width:10%;

  }

  .gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:10%;
    width:10%;
  }

  #kontakth1{
    margin-top:5%;

  }

  .innholdVenstre{
    display: inline-block;
    width:30%;
    margin-left:2%;;
    margin-bottom: 100px;
    top:1%;;
  }
  .innholdHøyre{
    display: inline-block;
    width:60%;
    margin-top:2%;
    float: right;
    margin-right: 5%;



  }
  .opplysninger{
    margin-left: 205px;
    margin-top:-200px;


  }
  #knapp{
    background-color: #4d4d4d;
    color: white;
    width:60px;
    height: 35px;
    margin-top: 20px;
    border-color: #4d4d4d;
  }

  /*style for søkjobb */

  #søkJobb{
    position: relative;
    background-color:  rgb(249, 249, 235,0.9);
    margin:10%;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #7a4d1f;
  }
  #submit{
    background-color: #4d4d4d;
    color: white;
    width:60px;
    height: 35px;
    margin-top: 20px;
    border-color: #4d4d4d;
  }
  .info{
    width:90%;
    padding-top: 2%;
    padding-left: 2%;

  }

  #skjema{
    margin-left:2%;
    margin-bottom: 2%;
  }

#bilde_søk_jobb{
  position: absolute;
  right:19%;
  top:25%;

}



.innhold{
  padding-left: 3%;
  padding-top: 2%;
}
